html,
body {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-family: Noto Sans JP;
  background-color: #f6f4f2;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: #505050;
}

li {
  list-style: none;
}

p {
  font-size: 1.6rem;
}

.sec_title {
  width: 400px;
}

.subtitle {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.7;
  padding: 5rem 0;
  color: #023f80;
}

.wrapper {
  padding: 0 5rem;
  max-width: 100%;
}

#header {
  width: 100vw;
  height: 100px;
  background-color: rgba(217, 217, 217, 0.5);
  position: fixed;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  z-index: 15;
}
#header .logo img {
  width: 200px;
  height: auto;
  opacity: 1;
  padding-left: 1rem;
  padding-top: 0.5rem;
  line-height: 1;
}
#header #nav {
  width: 300px;
  height: 100vh;
  font-size: 1.6rem;
  background: linear-gradient(45deg, rgb(217, 217, 217), #1c497f);
  position: fixed;
  top: 0;
  overflow-y: auto;
  transition: 0.5s;
  z-index: 20;
  right: -300px;
  opacity: 0;
}
#header #nav.open {
  right: 0;
  opacity: 0.7;
}
#header #nav .header_nav {
  padding-top: 8rem;
  text-align: start;
}
#header #nav .header_nav li {
  padding: 1rem;
}
#header #nav .header_nav a {
  color: #fff;
  font-weight: 500;
}
#header .toggle_btn {
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: fixed;
  top: 3rem;
  right: 3rem;
  transition: 0.5s;
  z-index: 20;
}
#header .toggle_btn span {
  position: absolute;
  width: 40px;
  height: 3px;
  background-color: #4b769d;
  border-radius: 4px;
  display: block;
  left: 0;
  transition: 0.5s;
}
#header .toggle_btn span:nth-child(1) {
  top: 8px;
}
#header .toggle_btn span:nth-child(2) {
  top: 18px;
}
#header .toggle_btn span:nth-child(3) {
  bottom: 8px;
}
#header .toggle_btn.open span {
  background-color: #fff;
}
#header .toggle_btn.open span:nth-child(1) {
  transform: translateY(11px) rotate(-315deg);
}
#header .toggle_btn.open span:nth-child(2) {
  display: none;
}
#header .toggle_btn.open span:nth-child(3) {
  transform: translateY(-11px) rotate(315deg);
}
#header #mask {
  display: none;
  transition: 0.5s;
}
#header #mask.open {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  cursor: pointer;
  display: block;
  opacity: 0.8;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
}

main .slick_slider {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
main .slick_slider img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
main .overlay_img {
  width: 400px;
  height: auto;
  z-index: 10;
  height: auto;
  position: absolute;
  top: 30%;
  left: 5%;
}
main .catchcopy {
  position: absolute;
  font-size: 4rem;
  font-weight: bold;
  color: #fff;
  z-index: 10;
  top: 50%;
  left: 30%;
}
main .catchcopy span {
  display: inline-block;
  margin-left: 8rem;
}
main .btn {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 1.5rem 0;
  border-radius: 30px;
  width: 500px;
  height: 130px;
  background: linear-gradient(45deg, #5580a4, #1c497f);
  z-index: 15;
  bottom: 5%;
  right: -8%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
main .btn p {
  display: inline-block;
  width: 100%;
  font-size: 2.4rem;
  color: #fff;
  margin: 1rem 0 0.5rem 2rem;
}
main .btn .btn_push {
  width: 50%;
  font-weight: bold;
  font-size: 2.4rem;
  margin: 0 0 2rem 2rem;
  display: inline-block;
  background-color: #fff;
  color: #023f80;
  border-radius: 30px;
  text-align: center;
  transition: all 0.5s;
}
main .btn .btn_push:hover {
  background-color: #d57d33;
  color: #fff;
  transform: scale(1.05);
}

#about {
  background-color: #f6f4f2;
  background-image: url(assets/img/bg2.png), no-repeat, bottom;
  background-size: cover;
  margin: 0;
  position: relative;
  overflow: hidden;
  padding-top: 20rem;
}
#about .venn {
  width: 30%;
  position: absolute;
  top: 20rem;
  right: 5rem;
}