@use "mixins" as m;
@use "variables" as v;

#about {
  margin: 0;
  position: relative;
  padding-top: 10rem;
  width: 100%;

  .about_left,
  .about_right {
    width: 88%;
    display: flex;
    align-items: center;
    padding: 2rem;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
    margin-bottom: 5rem;
    overflow: hidden;
    position: relative;
    z-index: 2;

    img {
      width: 300px;
      height: auto;
      object-fit: cover;
    }

    .about_text {
      flex: 1;
      padding: 0 2rem;
      color: v.$font_main;
      line-height: 1.5;

      h4 {
        font-size: 2rem;
        margin-bottom: 1rem;
      }
      p {
        margin-left: 1rem;
      }
    }
  }
  .about_left {
    margin-left: 0;
    margin-right: auto;
    justify-content: flex-start;

    img {
      border-radius: 25px 0 0 25px;
      margin: -2rem 0 -2rem -2rem;
    }
    .about_text {
      margin-left: 2rem;
    }
  }
  .about_right {
    margin-left: auto;
    margin-right: 0;
    justify-content: flex-end;

    img {
      border-radius: 0 25px 25px 0;
      margin: -2rem -2rem -2rem 0;
    }
  }
}
