@use "mixins" as m;
@use "variables" as v;

#about {
  margin: 0;
  position: relative;
  padding-top: 0.5rem;
  width: 100%;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1000px;
    background-image: url(../img/bg/linetop_bg2.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    z-index: -1;
  }

  .about_catch {
    position: relative;
    color: v.$white;
    width: 100%;
    top: 10rem;
    font-size: 3.2rem;
    font-weight: bold;
    text-align: left;
    line-height: 2;

    span {
      display: inline-block;
      font-size: 4rem;
      line-height: 2;
    }
    .catch_left {
      position: absolute;
      top: 0;
    }

    .catch_right {
      position: absolute;
      left: 45rem;
      top: 20rem;
    }
  }
  .about_contents {
    margin-top: 70%;
  }
  .about_left,
  .about_right {
    width: 88%;
    display: flex;
    align-items: center;
    padding: 2rem;
    background-color: #fff;
    border-radius: 25px;
    border: 1px solid #505050;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    margin-bottom: 5rem;
    overflow: hidden;
    position: relative;
    z-index: 2;

    img {
      width: 300px;
      height: auto;
      object-fit: cover;
    }

    .about_text {
      flex: 1;
      padding: 0 2rem;
      color: v.$font_main;
      line-height: 1.5;

      h4 {
        font-size: 2rem;
        margin-bottom: 1rem;
      }
      p {
        margin-left: 1rem;
      }
    }
  }
  .about_left {
    margin-left: 0;
    margin-right: auto;
    justify-content: flex-start;

    img {
      border-radius: 25px 0 0 25px;
      margin: -2rem 0 -2rem -2rem;
    }
    .about_text {
      margin-left: 2rem;
    }
  }
  .about_right {
    margin-left: auto;
    margin-right: 0;
    justify-content: flex-end;

    img {
      border-radius: 0 25px 25px 0;
      margin: -2rem -2rem -2rem 0;
    }
  }
}
