@use "mixins" as m;
@use "variables" as v;



#about {
  position: relative;
  width: 100%;
  overflow: hidden; // ★ はみ出し防止

  /* ▼ 青い帯（斜めカット） */
  .about_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 140vh; // ★ 高さを画面比率にしてレスポンシブ安定
    background-color: #023F80;
    clip-path: polygon(0 55%, 0 0, 100% 15%, 100% 70%);
    z-index: 2;
  }

  /* ▼ 白文字（キャッチコピー） */
  .about_catch {
    position: relative;
    z-index: 2; // ★ 青帯より上に表示
    max-width: 1300px;
    padding-inline: 2%;
    margin-inline: auto;
    margin-top: 12rem; // ★ 上下余白は固定ではなく後で可変にもできる
    color: #fff;
    font-weight: bold;

    p {
      font-size: clamp(1.8rem, 2.5vw, 2.5rem);
      line-height: 2;
      padding-left: 1em;
    }

    span {
      font-size: clamp(2.4rem, 4vw, 4rem);
      line-height: 1.6;
      display: inline-block;
    }

    .catch_right {
      margin-top: 4rem;
      margin-left: auto;
      text-align: right;
    }
  }

  /* ▼ 下のコンテンツ（ProNaviとは） */
  .about_contents {
    position: relative;
    z-index: 3;
    padding-top: 12rem;
    padding-bottom: 10rem; // ★ 青帯とぶつからないよう調整
  }


  .about_left,
  .about_right {
    width: 90%;
    display: flex;
    align-items: center;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    margin-bottom: 10rem;
    overflow: hidden;
    position: relative;
    z-index: 2;

    img {
      width: 30%;
      aspect-ratio: 1 / 1;
      object-fit: cover;
    }

    .about_text {
      flex: 1;
      padding: 0 2rem;
      color: v.$font_main;
      line-height: 1.5;

      h4 {
        font-size: 2.1rem;
        margin-bottom: 1.3rem;
        color: v.$font_accent;
      }

      .fontmiddle {
        font-size: 1.8rem;
        color: v.$font_accent;
      }

      .space {
        padding-top: 1rem;
      }

      p {
        margin-left: 1rem;
      }
    }
  }

  .about_left {
    margin-left: 0;
    margin-right: auto;
    justify-content: flex-start;

    .about_text {
      margin-left: 2rem;
    }
  }

  .about_right {
    margin-left: auto;
    margin-right: 0;
    justify-content: flex-end;

  }
}


/* ▼ sec_title_b のバイーン防止（可動幅制限） */
.sec_title_b {
  max-width: 100%; // 吹き飛び防止
  width: clamp(250px, 40vw, 400px);
  margin-bottom: 10rem;
}

@include m.sp {

  /* 930px */
  #about {
    min-height: 0; // 実害なし

    /* ▼ 青い帯（斜めカット） */
    .about_bg {
      height: 130vh;
    }
  }
}


@include m.sp_small {

  /* 787px */
  #about {
    min-height: 0;

    .about_bg {
      height: 118vh;
    }

    .about_catch {
      .catch_left {
        margin-top: 14rem;
      }

      .catch_right {
        text-align: left;

      }
    }


    .about_left,
    .about_right {
      width: 100%;
      flex-direction: column;
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);

      img {
        width: 100%;
        aspect-ratio: 10 / 4;
        object-position: center top;
        margin-bottom: 2rem;
      }
    }

    .about_right {
      flex-direction: column-reverse;
    }

  }
}

@media (max-width:490px) {
  #about {
    min-height: 0;

    .about_bg {
      height: 140vh;
    }

  }
}