@use "mixins" as m;
@use "variables" as v;

.contact {
    padding-block: 10rem;
    background-color: v.$bg_color;
    color: v.$font_accent;
    text-align: center;
    // font-weight: bold;

    .contact_title {
        font-size: 2.3rem;
    }

    .contact_title_sub {
        font-size: 1.5rem;
        color: v.$font_main;
        margin-bottom: 4rem;
    }

    .contact_box {
        width: 70%;
        margin: 0 auto;
        padding-block: 7rem;
        border-radius: 15px;
        background-color: v.$white;
    }

    .contact_list {
        display: block;
        width: 70%;
        margin: 0 auto;
        text-align: left;
        // border: 1px solid red;

        .contact_label {
            display: block;
            font-size: 1.5rem;
            margin-bottom: 5px;

            span {
                display: inline-block;
                padding-inline: 5px;
                margin-left: 1rem;
                border-radius: 2px;
                font-size: 1.2rem;
                color: v.$white;
                font-weight: normal;
                background-color: v.$font_accent;
            }
        }

        .contact_input,
        textarea {
            width: 100%;
            padding-inline: 1rem;
            border: 1px solid gray;
            font-size: 1.6rem;
            font-weight: normal;
        }

        .contact_input {
            padding-block: 1rem;
            margin-bottom: 2rem;
        }

        textarea {
            height: 160px;
            padding: 1rem;
        }

    }

    .submit_button {
        margin-top: 3rem;
        display: inline-block;
        font-size: 1.5rem;
        padding: 10px 50px;
        color: white;
        background-color: v.$font_accent;
        transition: all 0.3s;
        border: 1px solid v.$font_accent;

        &:hover {
            background-color: v.$bg_color;
            border: 1px solid v.$font_accent;
            color: v.$font_accent;
        }
    }
}