@use "mixins" as m;
@use "variables" as v;

/* --------------------------
flow
----------------------------*/

.price_bg {
    width: 100%;
    height: 36.2rem;
    background-image: url('../img/subpage_img/sub_bg/voice_hakkathon_bg.jpg');
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
}


.sec_title_b {
    margin-top: 0;
    margin-bottom: 7rem;
}

.slider {
    //     position: relative;
    //     overflow: hidden;

    //     .slide_box {
    //         display: flex;
    //         transition: transform 0.5s ease;

    .slide {
        text-align: center;
        width: 250px;
        border: 1px solid rgb(147, 149, 255);
        border-radius: 5px;
        overflow: hidden;

        .flow_slide_title {
            padding-top: 2rem;
            font-size: 1.6rem;
            color: v.$sub_color;
        }

        .flow_slide_text {
            text-align: justify;
            padding-inline: 2rem;
            padding-block: 1.5rem 3rem;
            font-size: 1.4rem;
        }

        .flow_slide_img {
            display: block;
            object-fit: cover;
        }
    }

    //     }

    /* dots */
    // .dots {
    //     display: flex;
    //     gap: 8px;
    //     justify-content: center;
    //     margin-top: 12px;
    // }

    // .dot {
    //     width: 10px;
    //     height: 10px;
    //     border-radius: 50%;
    //     background: #ccc;
    //     cursor: pointer;
    //     border: none;
    // }

    // .dot.active {
    //     background: #333;
    //     transform: scale(1.2);
    // }

    /* arrows */
    // .nav {
    //     position: absolute;
    //     top: 50%;
    //     transform: translateY(-50%);
    //     background: rgba(0, 0, 0, 0.4);
    //     color: #fff;
    //     border: none;
    //     padding: 8px;
    //     cursor: pointer;

    //     &.prev {
    //         left: 8px;
    //     }

    //     &.next {
    //         right: 8px;
    //     }
    // }
}

/* --------------------------
カリキュラム
----------------------------*/

.bk_color {
    background-color: v.$bg_color;
    padding-block: 9rem;

    .intro_title {
        margin-block: 10rem;
        font-weight: bold;
        font-size: 3.8rem;
        color: v.$font_accent;
        text-align: center;
    }

    .intro_flexbox {
        display: flex;
        justify-content: center;
        gap: 10rem;

        .intro_item {
            max-width: 250px;
            text-align: center;
            padding-block: 3rem;
            border-radius: 5px;
            background-color: white;
            // border: 1px solid red;

            .intro_img {
                display: inline-block;
                width: 60%;
                padding-bottom: 1rem;
                border-radius: 50%;
                // border: 1px solid white;
            }
        }
    }
}

.text_area {
    padding-block: 7rem;
    background-color: v.$font_accent;
    color: v.$white;
    text-align: center;

    .intro_undertext {
        font-size: 3.5rem;
        margin-bottom: 5rem;
    }

    .intro_sub_undertext {
        line-height: 1.6;

        p:first-of-type {
            margin-bottom: 2rem;
            font-size: 1.8rem;
            font-weight: normal;

        }

        p:nth-child(2) {
            font-size: 2.5rem;
            font-weight: bold;

            span {
                font-size: 1.8rem;
                font-weight: normal;
            }
        }

        p:last-of-type {
            margin-top: 2rem;
            font-size: 1.8rem;
            font-weight: normal;

        }
    }
}