@use "mixins" as m;
@use "variables" as v;

/* --------------------------
flow
----------------------------*/

.price_bg {
    width: 100%;
    height: 36.2rem;
    background-image: url('../img/subpage_img/sub_bg/voice_hakkathon_bg.jpg');
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
}

.sec_title_b {
    margin-top: 0;
    margin-bottom: 7rem;
}

.slider {
    padding-bottom: 8rem;

    .slide {
        text-align: center;
        width: 250px;
        margin-left: 20px;
        margin-bottom: 3rem;
        border: 1px solid rgb(147, 149, 255);
        border-radius: 5px;
        overflow: hidden;

        .flow_slide_title {
            padding-top: 3rem;
            font-size: 1.6rem;
            color: v.$sub_color;
        }

        .flow_slide_text {
            text-align: justify;
            padding-inline: 2rem;
            padding-block: 1.5rem 3rem;
            font-size: 1.4rem;
        }

        .flow_slide_img {
            display: block;
            object-fit: cover;
        }
    }
}

.text_area {
    padding-block: 7rem;
    background-color: v.$font_accent;
    color: v.$white;
    text-align: center;

    .intro_undertext {
        font-size: 3.5rem;
        margin-bottom: 5rem;
    }

    .intro_sub_undertext {
        line-height: 1.6;

        p:first-of-type {
            margin-bottom: 2rem;
            font-size: 1.8rem;
            font-weight: normal;
        }

        p:nth-child(2) {
            font-size: 2.5rem;
            font-weight: bold;

            span {
                font-size: 1.8rem;
                font-weight: normal;
            }
        }

        p:last-of-type {
            margin-top: 2rem;
            font-size: 1.8rem;
            font-weight: normal;
        }
    }
}

/* ----カリキュラムステップ----- */
.curriculum-steps {
    padding-block: 8rem;

    .c_step_card {
        display: flex;
        align-items: stretch;
        width: 80%;
        margin: 0 auto;
        border: 0.5px solid rgb(179, 179, 179);

        .c_icon {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-inline: 2rem;
            background-color: v.$sub_color;

            .c_icon_img {
                width: 50%;
                padding-right: 2rem;

                img {
                    width: 70px;
                    height: 70px;
                    border-radius: 50%;
                }
            }

            .step_number {
                flex: 1;
                font-size: 2.2rem;
                color: v.$white;
            }
        }

        .c_text {
            padding-left: 5rem;
            font-size: 1.5rem;
            padding-block: 1rem;
        }
    }
}