@use "mixins" as m;
@use "variables" as v;

/* --------------------------
flow
----------------------------*/

.price_bg {
    width: 100%;
    height: 36.2rem;
    background-image: url('../img/subpage_img/sub_bg/voice_hakkathon_bg.jpg');
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
}

.sec_title_b {
    margin-top: 0;
    margin-bottom: 7rem;
}

.slider {
    padding-bottom: 8rem;

    .slide {
        text-align: center;
        width: 250px;
        margin-left: 20px;
        margin-bottom: 3rem;
        border: 1px solid rgb(147, 149, 255);
        border-radius: 5px;
        overflow: hidden;

        .flow_slide_title {
            padding-top: 3rem;
            font-size: 1.6rem;
            color: v.$sub_color;
        }

        .flow_slide_text {
            text-align: justify;
            padding-inline: 2rem;
            padding-block: 1.5rem 3rem;
            font-size: 1.4rem;
        }

        .flow_slide_img {
            display: block;
            object-fit: cover;
        }
    }
}

.text_area {
    padding-block: 7rem;
    background-color: v.$font_accent;
    color: v.$white;
    text-align: center;

    .intro_undertext {
        font-size: 3.5rem;
        margin-bottom: 5rem;
    }

    .intro_sub_undertext {
        line-height: 1.6;

        p:first-of-type {
            margin-bottom: 2rem;
            font-size: 1.8rem;
            font-weight: normal;
        }

        p:nth-child(2) {
            font-size: 2.5rem;
            font-weight: bold;

            span {
                font-size: 1.8rem;
                font-weight: normal;
            }
        }

        p:last-of-type {
            margin-top: 2rem;
            font-size: 1.8rem;
            font-weight: normal;
        }
    }
}

/* ----カリキュラムステップ----- */
.curriculum-steps {
    padding-block: 8rem;

    .c_step_card {
        display: flex;
        align-items: stretch;
        width: 80%;
        margin: 0 auto;
        border: 0.5px solid rgb(179, 179, 179);

        .c_icon {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-inline: 2rem;
            background-color: v.$sub_color;

            .c_icon_img {
                width: 50%;
                padding-right: 2rem;

                img {
                    width: 70px;
                    height: 70px;
                    border-radius: 50%;
                }
            }

            .step_number {
                flex: 1;
                font-size: 2.2rem;
                color: v.$white;
            }
        }

        .c_text {
            padding-left: 5rem;
            font-size: 1.5rem;
            padding-block: 1rem;
        }
    }
}

.adnavi {
  background-color: #F2F2F2;
  color: black;
  text-align: center;
  padding: 6rem 2rem;

  .wrapper {
    max-width: 120rem;
    margin: 0 auto;
  }

  .sec_title_w {
    font-size: 2.2rem;
    margin-bottom: 2rem;

  }

  .sub_title {
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 5rem;
  }

  .highlevel {
  width: 100%;
  background-color: #607CA8;
  color: black;
  padding: 50px 20px;
  text-align: center; 
  }

  }

    .adnavi_title {
      font-size: 1.8rem;
      margin-bottom: 2rem;
      color: #F2F2F2;
    }

    .adnavi_subtext {
      font-size: 3rem;
      line-height: 2.0;
      margin-bottom: 4rem;
      color: #F2F2F2;
    }

    .hilevel_content {
      display: flex;
      justify-content: center; /* 横並び中央寄せ */
      gap: 4rem; /* カード間の隙間 */
      flex-wrap: wrap; /* 幅が狭いときは折り返す */

      .adnavi_card {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        gap: 2rem;

        li {
          background-color: white;
          color: #023f80;
          padding: 2rem;
          border-radius: 8px;
          width: 30rem;
          box-sizing: border-box;
          text-align: left; /* カード内は左寄せ */
          box-shadow: 0.2rem 0.6rem rgba(0,0,0,0.1);

          img {
            width: 100%;
            height: auto;
            margin-bottom: 1.5rem;
            border-radius: 0.4rem;
          }

          .adnavi_card_title {
            font-size: 1.2rem;
            font-weight: bold;
            margin-bottom: 1rem;
          }

          .adnavi_card_text {
            font-size: 0.95rem;
            line-height: 1.5;
          }
        }
      }
    }
  



                



