@use "mixins" as m;
@use "variables" as v;

/* --------------------------
flow-slider
----------------------------*/

.price_bg {
    width: 100%;
    height: 36.2rem;
    background-image: url('../img/subpage_img/sub_bg/voice_hakkathon_bg.jpg');
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
}

.slider-section {
    position: relative;


    .sec_title_b {
        margin-top: 0;
        margin-bottom: 7rem;
    }

    .slider {
        padding-bottom: 8rem;

        .slide {
            text-align: center;
            width: 250px;
            margin-right: 10px;
            margin-left: 10px;
            margin-bottom: 3rem;
            border: 1px solid rgb(147, 149, 255);
            border-radius: 5px;
            overflow: hidden;

            .flow_slide_title {
                padding-top: 3rem;
                font-size: 1.6rem;
                color: v.$sub_color;
            }

            .flow_slide_text {
                text-align: justify;
                padding-inline: 2rem;
                padding-block: 1.5rem 3rem;
                font-size: 1.4rem;
            }

            .flow_slide_img {
                display: block;
                object-fit: cover;
            }
        }
    }

    .nav {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #fff;
        color: v.$font_accent;
        border: 1px solid v.$sub_color;
        line-height: 30px;

        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 1.8rem;
        line-height: 1;
        font-weight: bold;
        cursor: pointer;
        z-index: 50;
        transition: 0.3s ease;

        &:hover {
            background-color: v.$sub_color;
            color: v.$white;
        }

        // ★ SVG の基本スタイル
        .arrow_svg {
            width: 16px;
            height: 16px;
            stroke: v.$font_accent;
            opacity: 0.7;
            stroke-width: 2.5;
            fill: none;
            stroke-linecap: round;
            stroke-linejoin: round;
        }
    }

    .nav:hover .arrow_svg {
        stroke: v.$white;
        opacity: 1;
    }

    .prev {
        left: 0; // 好きな位置に調整できるよ
    }

    .next {
        right: 0;
    }
}


/* --------------------------
カリキュラム
----------------------------*/

.curriculum {

    /* ------イントロトップエリア------ */
    .bk_color {
        background-color: v.$bg_color;
        padding-top: 10rem;
        text-align: center;

        .intro_title {
            padding-block: 3rem 10rem;
            font-size: 3.5rem;
            color: v.$font_accent;
        }

        .intro_flexbox {
            display: flex;
            justify-content: space-between;
            gap: 1rem;

            .intro_item {
                width: 250px;
                margin-bottom: 8rem;
                background-color: v.$white;
                border-radius: 5px;
                // border: 1px solid red;

                .intro_img {
                    width: 70%;
                    padding-block: 3rem 2rem;
                }

                .intro_text {
                    padding-bottom: 3rem;
                    padding-inline: 1rem;
                }

            }
        }
    }

    /* ------イントロ下テキストエリア------ */
    .text_area {
        position: relative;
        padding-block: 13.5rem 7rem;
        background-color: v.$font_accent;
        color: v.$white;
        text-align: center;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 0;
            height: 0;
            border-left: 50vw solid transparent;
            border-right: 50vw solid transparent;
            border-top: 85px solid v.$bg_color;
        }

        .intro_undertext {
            font-size: 3.8rem;
            margin-bottom: 5rem;
        }

        .intro_sub_undertext {
            line-height: 1.6;
            color: v.$bg_color;

            .sp_none {
                display: none;
            }

            p:first-of-type {
                font-size: 1.8rem;
            }

            p:nth-child(2) {
                font-size: 1.8rem;

                span {
                    font-size: 2.8rem;
                    font-weight: bold;
                }
            }

            p:last-of-type {
                margin-top: 5rem;
                font-size: 2.8rem;
                font-weight: bold;
            }
        }
    }

    /* ----カリキュラムステップ----- */
    .curriculum-steps {
        padding-block: 12rem;

        .step_card_list {
            display: flex;
            align-items: stretch;
            align-items: center;
            width: 80%;
            height: 12rem;
            margin-inline: auto;
            margin-bottom: 3rem;
            border: 0.5px solid rgb(179, 179, 179);

            &:last-of-type {
                margin-bottom: 0;
            }

            .icon_item {
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-inline: 2rem;
                background-color: v.$sub_color;

                .icon_img {
                    width: 50%;
                    padding-right: 2rem;

                    img {
                        width: 70px;
                        height: 70px;
                        border-radius: 50%;
                    }
                }

                .step_number {
                    flex: 1;
                    font-size: 2.2rem;
                    color: v.$white;
                }
            }

            .c_text {
                padding-inline: 3rem;
                font-size: 1.5rem;

            }
        }
    }
}

.adnavi {
    padding-block: 5rem;

    .bg_blue {
        background-color: v.$sub_color;
    }

    .sec_title_w {
        font-size: 2.2rem;
        margin-bottom: 2rem;
    }

    .sub_title {
        font-size: 2rem;
        line-height: 1.6;
        margin-block: 10rem;
    }

    .highlevel {
        width: 100%;
        padding-block: 10rem;
        text-align: center;
    }
}

.adnavi_title {
    font-size: 3rem;
    margin-bottom: 4rem;
    color: #F2F2F2;
}

.adnavi_subtext {
    font-size: 2.4rem;
    line-height: 1.8;
    margin-bottom: 4rem;
    color: #F2F2F2;
}

.hilevel_content {
    display: flex;
    justify-content: center;
    gap: 4rem;
    flex-wrap: wrap;


    .adnavi_card {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        gap: 2rem;



        li {
            background-color: white;
            color: #023f80;
            padding: 2rem;
            border-radius: 8px;
            width: 30rem;
            box-sizing: border-box;
            text-align: left;
            box-shadow: 0.2rem 0.6rem rgba(0, 0, 0, 0.1);

            img {
                display: block;
                margin-inline: auto;
                width: 90%;
                height: auto;
                margin-bottom: 1.5rem;
                border-radius: 0.4rem;
            }

            .adnavi_card_title {
                font-size: 2rem;
                font-weight: bold;
                margin-bottom: 2rem;
            }

            .adnavi_card_text {
                font-size: 1.5rem;
                line-height: 1.5;
            }
        }
    }
}

// * design
.design {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 10rem;
    gap: 4rem;
    flex-wrap: wrap;
    background-color: v.$bg_color;
    }

    .design_title,.design_subtext {
        font-size: 2rem;
        margin-bottom: 5rem;
        line-height: 1.6;
        color:#023f80;
    }

    .adnavi_card_title {
        font-size: 4rem;
        margin-bottom: 5rem;
        // color: #023f80;
    }

    .adnavi_card_text {
        font-size: 2rem;
        line-height: 2.0;
        margin-bottom: 4rem;
        // color: #023f80;
        text-align: center;
    }

    .adnavi_card {
        justify-content: center;
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        gap: 4rem;
        max-width: 100%;
        box-sizing: border-box;

        li {
            background-color: white;
            color: #023f80;
            padding: 2rem;
            border-radius: 8px;
            width: 30rem;
            box-sizing: border-box;
            text-align: left;
            box-shadow: 0.2rem 0.6rem rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            &:hover {
                transform: translateY(-8px);   // ふわっと浮く
                box-shadow: 0 12px 24px rgba(0, 0, 0, 0.18);

            img {
                width: 100%;
                height: auto;
                margin-bottom: 1.5rem;
                border-radius: 0.4rem;
            }

            .adnavi_card_title {
                font-size: 2rem;
                font-weight: bold;
                margin-bottom: 2rem;
                text-align: center;
            }

            .adnavi_card_text {
                font-size: 1.5rem;
                line-height: 1.5;
                text-align: left;
            }
        }
    }
}




/* -------------------------
プライス
----------------------------*/
.price {
    text-align: center;
    padding: 10rem 0;
    font-weight: bold;

    h2 {
        font-size: 6rem;
        color: v.$font_accent;
        padding-bottom: 2rem;
    }

    .price_flex {
        display: flex;
        justify-content: space-between;
        align-items: stretch;

        span+p {
            display: inline-block;
            padding-bottom: 4rem;
        }

        .price_left,
        .price_right {
            width: 50%;
            padding: 3rem;

            .price_plan {
                font-size: 2.3rem;
                padding-bottom: 40px;

                &.right {
                    padding-bottom: 20px;
                }
            }
        }

        .price_left {
            background-color: v.$bg_color;
            color: #505050;

            .price_title {
                width: 40%;
                font-size: 2rem;
                line-height: 2;
                text-align: center;
                margin: 3rem auto;
                background-color: v.$font_accent;
                color: v.$white;
                border-radius: 30px;
            }



            dl {
                margin: 3.4rem auto;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                width: 100%;

                dt,
                dd {
                    font-size: 2.2rem;
                }

                dt {
                    width: 45%;
                    text-align: right;
                    padding-right: 0.5rem;
                }

                dd {
                    width: 55%;
                    text-align: left;
                }
            }

            span {
                font-size: 3rem;
            }

        }
    }

    .price_right {
        background-color: v.$font_accent;
        color: v.$white;

        .price_title {
            width: 40%;
            font-size: 2rem;
            line-height: 2;
            text-align: center;
            margin: 3rem auto;
            background-color: v.$white;
            color: v.$font_accent;
            border-radius: 30px;
        }

        p+p {
            display: inline-block;
            padding-bottom: 2.2rem;
        }

        .price_plan_twice {
            font-size: 2rem;
        }

        ul {
            text-align: center;
            font-size: 2rem;
            margin: 0 auto 3.5rem;
            padding: 0;

            li {
                display: block;
                margin-bottom: 0.5rem;
            }
        }

        span {
            font-size: 3rem;
        }
    }
}




/* -------------------------
レスポンシブ
----------------------------*/

// タブレット 768〜1023px

@include m.sp {
    .price {
        padding: 10rem 0 0 0;

        .price_flex {
            flex-direction: column;

            .price_left,
            .price_right {
                width: 100%;

                .price_title {
                    width: 50%;
                    font-size: 1.6rem;
                }

            }

            .price_left {
                // 詳細度キープ

                .price_plan {
                    // 詳細度キープ

                    padding-block: 10px;
                }

                dl {
                    padding-left: 3rem;
                }
            }

        }
    }

    .cta-counseling {
        margin-top: 0;
    }
}



// スマホ 〜767px
@include m.sp_small {

    .curriculum {
        // 詳細度キープ



        /* ------イントロトップエリア------ */
        .bk_color {
            padding-top: 5rem;

            .sec_title_b {
                margin-bottom: 5rem;
            }

            .intro_title {
                padding-block: 1rem 5rem;
                font-size: 2.3rem;
            }

            .intro_flexbox {
                // 詳細度キープ

                .intro_item {
                    // 詳細度キープ

                    .intro_img {
                        padding-block: 2rem 2rem;
                    }

                    .intro_text {
                        padding-bottom: 2rem;
                        font-size: 1.2rem;
                    }
                }
            }
        }

        /* ------イントロ下テキストエリア------ */
        .text_area {
            // 詳細度キープ

            .intro_undertext {
                font-size: 3rem;
            }

            .intro_sub_undertext {
                // 詳細度キープ

                .sp_none {
                    display: block;
                }

                p:first-of-type {
                    font-size: 1.5rem;
                    padding-bottom: 2rem;
                }

                p:nth-child(2) {
                    font-size: 1.5rem;

                    span {
                        font-size: 2.2rem;
                    }
                }

                p:last-of-type {
                    font-size: 2.2rem;
                }
            }
        }

        .curriculum-steps {
            //    詳細度キープ

            .step_card_list {
                flex-direction: column;
                justify-content: center;
                height: auto;
                width: 100%;

                .icon_item {
                    width: 100%;

                    .icon_img {
                        width: 50%;
                        padding-block: 1rem;

                        img {
                            display: block;
                            width: 45px;
                            height: 45px;
                            margin-left: auto;
                        }

                        .step_number {
                            width: 50%;
                        }
                    }
                }

                .c_text {
                    width: 100%;
                    padding-block: 1rem;
                    font-size: 1.4rem;
                }
            }
        }
    }

    /* -------アドナビコース------ */

    .hilevel_content,
    .design {
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;

        .adnavi_card {
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 100%;
            margin: 0 auto;

            li {
                width: 100%;
            }
        }
    }

    /* -------相談申込帯------ */

    .cta-counseling {
        margin-top: 0;
    }

    /* -------プライス------ */

    .price {
        padding: 10rem 0 0 0;

        h2 {
            font-size: 4.8rem;
        }

        .price_flex {
            flex-direction: column;

            .price_left,
            .price_right {
                width: 100%;

                .price_plan {
                    font-size: 2.3rem;
                }

                dl dt,
                dl dd,
                li,
                .price_plan_twice {
                    font-size: 1.8rem;
                }

                .price_title {
                    width: 50%;
                    font-size: 1.6rem;
                }

                span {
                    font-size: 2.9rem;
                }


            }

            .price_left {

                .price_plan {
                    padding-block: 10px;
                }

                dl {
                    padding-left: 0;
                }
            }

        }
    }

}