@use "mixins" as m;
@use "variables" as v;

html,
body {
  margin: 0;
  padding: 0;
  font-size: 62.5%; //1rem = 10pxに統一//
  font-family: Noto Sans JP;
  color: v.$font_main;
  //scroll-behavior: smooth;//最近はこの一言でスムーススクロールするらしい。js不要。

  @include m.sp {
    font-size: 53%; // SP: 1rem ≈ 8.5px
  }
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: v.$font_main;
  cursor: pointer;
}

li {
  list-style: none;
}

p {
  font-size: 1.6rem;
}

.sec_title_b {
  @include m.title_beige;
}

.sec_title_w {
  @include m.title_white;
}

.wrapper {
  padding: 0 5rem;
  max-width: 1200px;
  align-items: center;
  margin: 0 auto;

  @include m.sp_small {
    padding: 0 3rem;
  }
}

.subtitle {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.7;
  padding: 5rem 0;
  color: v.$font_accent;
  position: relative;
  z-index: 2;
}

/* --------------------------------
サブページ無料相談申込共通
-----------------------------------*/
.cta-counseling {
  position: relative;

  &.margin {
    margin-top: 10rem;
  }

  .cta_pc {

    .cta_img {
      display: block;
      object-fit: cover;
    }

    .cta_textarea {
      position: absolute;
      top: 55%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: v.$font_accent;

      p {
        font-size: clamp(1.8rem, 2vw, 2.7rem);
        font-weight: bold;
        text-align: center;
        padding-bottom: 7rem;
        line-height: 1.5;
      }

      .orange_button_long {
        @include m.orange_button_long;
        display: block;
        margin: 0 auto;
      }
    }

  }

  .cta_sp {
    display: none;
    padding: 5rem 0 4rem;
    background-color: v.$bg_color;

    .cta_sp_inner {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;

      .cta_img_sp {
        width: 15%;
        border-radius: 50%;
      }

      .cta_textarea_sp {
        .cta_sp_text {
          font-size: clamp(1.8rem, 2vw, 2.8rem);
          font-weight: bold;
          text-align: center;
          line-height: 1.5;
        }
      }
    }

    .orange_button_long {
      @include m.orange_button_long;
      display: block;
      width: 50%;
      margin: 0 auto;
      font-size: 1.5rem;
      margin-top: 2rem;
      // font-size: 1.6rem;
    }
  }
}



/* --------------------------------
サブページ無料相談申込レスポンシブ
-----------------------------------*/

@include m.sp_small {

  /* 787px */
  .cta-counseling {

    .cta_pc {
      display: none;
    }

    .cta_sp {
      display: block;
    }

  }
}

/* -----------------------------------
to-topボタン
------------------------------------ */

.to_top {
  display: block;
  position: fixed;
  right: 10rem;
  bottom: 3rem;
  z-index: 99999;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #537EA3;

  color: white;
  border: 1px solid v.$font_accent;
  transition: all 0.3s;

  &.main_page {
    right: 5rem;
    bottom: 20rem;
  }

  &::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-bottom: 10px solid v.$bg_color;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
  }

  &:hover {
    background-color: v.$bg_color;
    border-color: #537EA3;
  }

  &:hover::before {
    border-bottom-color: #537EA3;
  }
}