@use "mixins" as m;
@use "variables" as v;

html,
body {
  margin: 0;
  padding: 0;
  font-size: 62.5%; //1rem = 10pxに統一//
  font-family: Noto Sans JP;

  /*&::after {
    content: "";
    position: absolute;
    top: 100vh;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/bg/bg_long.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: repeat-y;
    z-index: -1;
  }*/
}
img {
  width: 100%;
}
a {
  text-decoration: none;
  color: v.$font_main;
}
li {
  list-style: none;
}
p {
  font-size: 1.6rem;
}
.sec_title {
  width: 400px;
  height: 100px;
  background: linear-gradient(
    to right,
    v.$font_accent 0%,
    v.$sub_color 60%,
    v.$bg_color 100%
  );
  color: #fff;
  font-size: 2.4rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 2rem;
}
.wrapper {
  padding: 0 5rem;
  max-width: 1200px;
  align-items: center;
  margin: 0 auto;
}
.subtitle {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.7;
  padding: 5rem 0;
  color: v.$font_accent;
  position: relative;
  z-index: 2;
}
