@use "mixins" as m;
@use "variables" as v;

html,
body {
  margin: 0;
  padding: 0;
  font-size: 62.5%; //1rem = 10pxに統一//
  font-family: Noto Sans JP;
  color: v.$font_main;
  width: 100vw;
  //scroll-behavior: smooth;//最近はこの一言でスムーススクロールするらしい。js不要。

  @include m.sp {
    font-size: 53%; // SP: 1rem ≈ 8.5px
  }
}

img {
  width: 100%;
}
a {
  text-decoration: none;
  color: v.$font_main;
}
li {
  list-style: none;
}
p {
  font-size: 1.6rem;
}
.sec_title_b {
  @include m.title_beige;
}
.sec_title_w {
  @include m.title_white;
}
.wrapper {
  padding: 0 5rem;
  max-width: 1200px;
  align-items: center;
  margin: 0 auto;
}
.subtitle {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.7;
  padding: 5rem 0;
  color: v.$font_accent;
  position: relative;
  z-index: 2;
}
