@use "mixins" as m;
@use "variables" as v;

html,
body {
  margin: 0;
  padding: 0;
  font-size: 62.5%; //1rem = 10pxに統一//
  font-family: Noto Sans JP;
  color: v.$font_main;
  width: 100vw;
  //scroll-behavior: smooth;//最近はこの一言でスムーススクロールするらしい。js不要。

  @include m.sp {
    font-size: 53%; // SP: 1rem ≈ 8.5px
  }
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: v.$font_main;
  cursor: pointer;
}

li {
  list-style: none;
}

p {
  font-size: 1.6rem;
}

.sec_title_b {
  @include m.title_beige;
}

.sec_title_w {
  @include m.title_white;
}

.wrapper {
  padding: 0 5rem;
  max-width: 1200px;
  align-items: center;
  margin: 0 auto;
}

.subtitle {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.7;
  padding: 5rem 0;
  color: v.$font_accent;
  position: relative;
  z-index: 2;
}

/* ----サブページ無料相談申込----- */
.cta-counseling {
  position: relative;

  .cta_pc {

    .cta_img {
      display: block;
      margin-top: 40px;
      object-fit: cover;
    }

    .cta_textarea {
      position: absolute;
      top: 59%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: v.$font_accent;

      p {
        font-size: clamp(1.8rem, 2vw, 2.7rem);
        font-weight: bold;
        text-align: center;
        padding-bottom: 4rem;
        line-height: 1.5;
      }

      .orange_button_long {
        @include m.orange_button_long;
        display: block;
        margin: 0 auto;
      }
    }

  }

  .cta_sp {
    display: none;
    padding-block: 3rem;
    background-color: v.$bg_color;

    .cta_sp_inner {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;

      .cta_img_sp {
        width: 15%;
        border-radius: 50%;
      }

      .cta_textarea_sp {
        .cta_sp_text {
          font-size: clamp(1.8rem, 2vw, 2.8rem);
          font-weight: bold;
          text-align: center;
          padding-bottom: 1rem;
          line-height: 1.5;
        }
      }
    }

    .orange_button_long {
      @include m.orange_button_long;
      display: block;
      width: 50%;
      margin: 0 auto;
      font-size: 1.5rem;
      margin-top: 2rem;
      // font-size: 1.6rem;
    }
  }
}

/* ---サブページ無料相談申込レスポンシブ---*/

@include m.sp_small {

  /* 787px */
  .cta-counseling {

    .cta_pc {
      display: none;
    }

    .cta_sp {
      display: block;
    }

  }
}