@use "mixins" as m;
@use "variables" as v;

#metalife {
  width: 100%;
  height: auto;
  background-color: v.$bg_color;
  position: relative;
  z-index: 0;

  .meta_group {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .meta_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 10rem;

    .meta_text {
      width: 60%;
      height: auto;
      padding-top: 5rem;

      .para {
        margin-bottom: 3rem;
      }

      .bold {
        font-weight: bold;
      }
    }
    .meta_text span:first-of-type {
      font-weight: bold;
      font-size: 1.6rem;
    }

    img {
      width: 35%;
    }
  }
}
