@use "mixins" as m;
@use "variables" as v;

#metalife {
  width: 100%;
  height: auto;
  background-color: v.$bg_color;
  position: relative;
  z-index: 0;


  .meta_imgarea {
    position: relative;
    margin-bottom: 60px;

    .meta_group {
      width: 100%;
      height: auto;
      object-fit: cover;
    }

    .meta_group_sp {
      display: none;
      width: 100%;
      height: auto;
      object-fit: cover;
    }

    .meta_group_link {
      position: absolute;
      top: 65%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 5px 45px;
      border: 4px solid rgb(184, 184, 184);
      background-color: v.$white;
      border-radius: 50px;
      font-size: 1.8rem;
      font-weight: bold;
      color: v.$font_accent;
      transition: all 0.3s;

      &:hover {
        border: 4px solid rgb(246, 246, 246);
        background-color: rgb(184, 184, 184);
        color: white;
        // transform: translateY(1px);
      }
    }

  }


  .meta_flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 100%;
    margin: 0 auto;
    padding-bottom: 8rem;


    .meta_text {
      width: 52%;
      height: auto;
      // padding-top: 5rem;

      .meta_text span:first-of-type {
        font-weight: bold;
        font-size: 1.8rem;
      }

      .para,
      p {
        margin-bottom: 3rem;
        font-size: 1.8rem;
      }

      .bold {
        font-weight: bold;
      }
    }

    .meta_greenimg {
      width: 35%;
    }
  }

  .no_wrapper {
    width: 100%;
    background-color: v.$white;
    box-shadow: 0 16px 10px #d9d9d9;

    .meta_wrapper {
      max-width: 1200px;
      margin: 0 auto;
      padding: 10rem 5rem;

      .meta_heading {
        display: flex;
        justify-content: center;
        width: 45%;
        margin: 0 auto;
        text-align: center;

        img {
          // width: 20%;
          // object-fit: cover;
          max-width: 80px;
          width: 100%;
          object-fit: contain;
        }

        .heading_text {
          width: 80%;
          font-weight: bold;
          font-size: 3.6rem;
          color: v.$font_accent;
        }
      }

      .meta_contents {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 10rem;

        .meta_item {
          width: 31%;
          border: 1px solid #56d6d9;
          padding: 6rem 4rem;
          border-radius: 25px;
          box-shadow: 0 16px 10px #d9d9d9;
        }

        h4 {
          font-weight: bold;
          font-size: 2.5rem;
          color: v.$font_accent;
          text-align: center;
          padding: 2rem;
        }

        li {
          list-style: disc;
          font-size: 1.6rem;
          padding-bottom: 1rem;
          line-height: 1.3;
        }
      }
    }
  }
}

@include m.sp {
  #metalife {

    // 詳細度キープ
    .meta_imgarea {
      // 詳細度キープ

      .meta_group {
        display: none;
      }

      .meta_group_sp {
        display: block;


      }
    }
  }
}

@include m.sp_small {
  #metalife {
    .meta_imgarea {

      .meta_group_link {
        padding-inline: 15px;
        font-size: 1.6rem;
      }
    }

    .meta_flex {
      flex-direction: column;
      align-items: center;

      .meta_text {
        width: 100%;
      }

      .meta_greenimg {
        width: 60%;
      }
    }

    .no_wrapper {

      .meta_wrapper {
        padding-inline: 3rem;

        .meta_heading {
          width: 100%;
        }

        .meta_contents {
          flex-direction: column;

          .meta_item {
            max-width: 400px;
            width: 100%;
            margin: 0 auto 20px;
          }
        }
      }
    }
  }
}