@use "mixins" as m;
@use "variables" as v;

#metalife {
  width: 100%;
  height: auto;
  background-color: v.$bg_color;
  position: relative;
  z-index: 0;


  .meta_imgarea {
    position: relative;
    margin-bottom: 60px;

    .meta_group {
      width: 100%;
      height: auto;
      object-fit: cover;
    }

    .meta_group_sp {
      display: none;
      width: 100%;
      height: auto;
      object-fit: cover;
    }

    .meta_group_link {
      position: absolute;
      top: 64%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 5px 45px;
      border: 2px solid rgb(184, 184, 184);
      background-color: v.$white;
      border-radius: 50px;
      font-size: clamp(1.6rem, 2vw, 2.3rem);
      font-weight: bold;
      color: v.$font_accent;
      transition: all 0.3s;

      &:hover {
        border: 2px solid rgb(246, 246, 246);
        background-color: rgb(184, 184, 184);
        color: white;
      }
    }

  }


  .meta_flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 100%;
    margin: 0 auto;
    padding-bottom: 8rem;


    .meta_text {
      width: 52%;
      height: auto;
      padding-top: 5rem;

      .meta_text span:first-of-type {
        font-weight: bold;
        font-size: 1.8rem;
      }

      .para,
      p {
        margin-bottom: 3rem;
        font-size: 1.8rem;
      }

      .bold {
        font-weight: bold;
      }
    }

    .meta_greenimg {
      width: 35%;
    }

    .meta_group_link_sp {
      display: none;
      padding: 5px 45px;
      border: 3px solid #22978B;
      background-color: rgba(255, 255, 255, 0.577);
      border-radius: 50px;
      font-size: clamp(1.6rem, 2vw, 2.3rem);
      font-weight: bold;
      color: #22978B;
      transition: all 0.3s;

      &:hover {
        border: 3px solid #22978B;
        background-color: #22978bae;
        color: white;
      }
    }
  }


  .no_wrapper {
    width: 100%;
    background-color: v.$white;
    box-shadow: 0 16px 10px #d9d9d9;

    .meta_wrapper {
      max-width: 1200px;
      margin: 0 auto;
      padding: 10rem 5rem;

      .meta_heading {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45%;
        margin: 0 auto;
        text-align: center;

        img {
          max-width: 80px;
          width: 100%;
          object-fit: contain;
        }

        .heading_text {
          width: 80%;
          font-weight: bold;
          font-size: 3.6rem;
          color: v.$font_accent;
        }
      }

      .meta_contents {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 10rem;

        .meta_item {
          width: 31%;
          border: 1px solid #56d6d9;
          padding: 6rem 4rem;
          border-radius: 25px;
          box-shadow: 0 16px 10px #d9d9d9;
        }

        h4 {
          font-weight: bold;
          font-size: 2.5rem;
          color: v.$font_accent;
          text-align: center;
          padding: 2rem;
        }

        li {
          list-style: disc;
          font-size: 1.6rem;
          padding-bottom: 1rem;
          line-height: 1.3;
        }
      }
    }
  }
}

@include m.sp {
  #metalife {

    // 詳細度キープ

    .no_wrapper {

      .meta_wrapper {
        padding-inline: 3rem;

        .meta_heading {
          width: 80%;

          .heading_text {
            font-size: 3.2rem;
          }
        }

        .meta_contents {
          flex-direction: column;
          margin-top: 5rem;

          .meta_item {
            max-width: 400px;
            width: 100%;
            margin: 0 auto 20px;
          }
        }
      }
    }
  }
}

@include m.sp_small {
  #metalife {

    // 詳細度キープ
    .meta_imgarea {

      .meta_group {
        display: none;
      }

      .meta_group_sp {
        display: block;
      }

      .meta_group_link {
        display: none;
        // padding-inline: 15px;
        // font-size: 1rem;
      }
    }

    .meta_flex {
      flex-direction: column;
      align-items: center;

      .meta_text {
        width: 100%;
        // word-break: keep-all;
        // overflow-wrap: break-word;
        padding-block: 5rem 4rem;
        font-size: 1.6rem;
        line-height: 1.6;


        span {
          font-size: 1.8rem;
        }
      }

      .meta_greenimg {
        width: 60%;
      }

      .meta_group_link_sp {
        margin-top: 5rem;
        display: block;
      }
    }

    .no_wrapper {

      .meta_wrapper {
        padding-inline: 3rem;

        .meta_heading {
          width: 90%;

          .heading_text {
            font-size: 2.3rem;
          }
        }

        .meta_contents {
          flex-direction: column;
          margin-top: 5rem;

          .meta_item {
            max-width: 400px;
            width: 100%;
            margin: 0 auto 20px;
          }
        }
      }
    }
  }
}