$sp: 767px;

@mixin sp {
  @media (max-width: $sp) {
    @content;
  }
}

@mixin orange_button {
  background: linear-gradient(to right, #ec7733 0%, #ef8e24 60%, #f8c600 100%);
  color: white;
  text-decoration: none;
  padding: 10px 25px;
  border-radius: 50px;
  display: inline-block;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  transition: background 0.3s ease;

  &:hover {
    background: linear-gradient(to right, #ffa500 0%, #ffe747 100%);
  }
}
