@use "mixins" as m;
@use "variables" as v;

#price {
  width: 100%;
  text-align: center;
  padding: 10rem 0;
  font-weight: bold;

  h2 {
    font-size: 6rem;
    color: v.$font_accent;
    padding-bottom: 2rem;
  }

  .price_flex {
    display: flex;
    justify-content: space-between;

    span + p {
      display: inline-block;
      padding-bottom: 4rem;
    }

    .price_left,
    .price_right {
      width: 50%;
      padding: 3rem;
      height: auto;
    }
    .price_left {
      background-color: v.$bg_color;
      color: #505050;

      .price_title {
        width: 40%;
        font-size: 2rem;
        line-height: 2;
        text-align: center;
        margin: 3rem auto;
        background-color: v.$font_accent;
        color: v.$white;
        border-radius: 30px;
      }
      dl {
        margin: 3rem auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 30%;

        dt,
        dd {
          font-size: 2rem;
        }

        dt {
          width: 40%;
          text-align: right;
          padding-right: 0.5rem;
        }
        dd {
          width: 60%;
          text-align: left;
        }
      }
      span {
        font-size: 3rem;
      }
      a {
        font-size: 1.8rem;
        display: block;
        position: relative;
        padding-left: 5%;
        align-items: center;
        margin: 0 auto 2rem;
        width: 20%;
        transition: 0.5s;

        &::before {
          content: "＞";
          position: absolute;
          left: 0;
          width: 28px;
          height: 28px;
          border-radius: 50%;
          background-color: v.$font_accent;
          color: v.$white;
          line-height: 28px;
          text-align: center;
          font-size: 1.4rem;
        }
        &:hover {
          transform: scale(1.1); // 5%拡大
        }
      }
    }
    .price_right {
      background-color: v.$font_accent;
      color: v.$white;

      .price_title {
        width: 40%;
        font-size: 2rem;
        line-height: 2;
        text-align: center;
        margin: 3rem auto;
        background-color: v.$white;
        color: v.$font_accent;
        border-radius: 30px;
      }

      p + p {
        display: inline-block;
        padding-bottom: 2rem;
      }

      ul {
        width: 28%;
        font-size: 2rem;
        margin: 0 auto 2rem;
        padding: 0;
        text-align: left;

        li {
          list-style: "＞";
          text-align: left;
          margin-bottom: 0.5rem;
          padding-left: 2rem;
        }
      }

      span {
        font-size: 3rem;
      }
      a {
        font-size: 1.8rem;
        display: block;
        position: relative;
        padding-left: 5%;
        align-items: center;
        margin: 0 auto 3rem;
        width: 20%;
        color: v.$white;
        transition: 0.5s;

        &::before {
          content: "＞";
          position: absolute;
          left: 0;
          width: 28px;
          height: 28px;
          border-radius: 50%;
          background-color: v.$white;
          color: v.$font_accent;
          line-height: 28px;
          text-align: center;
          font-size: 1.4rem;
        }
        &:hover {
          transform: scale(1.1); // 5%拡大
        }
      }
    }
  }
}
