@use "mixins" as m;
@use "variables" as v;

#reason {
  width: 100%;
  height: auto;
  padding-bottom: 10rem;
  background-color: v.$bg_color;

  .sec_title_b {
    margin: 0;
  }

  .reason_flex {
    width: 100%;
    padding-top: 90px;
    display: flex;
    justify-content: space-between;
    margin: 13rem 0 5rem 0;
    align-items: center;

    img {
      width: 40%;
    }

    .reason_text {
      width: 55%;

      .reason_subtitle {
        padding: 0 0 0 2rem;
        align-items: center;
        line-height: 1.3;
        font-size: 3rem;
        color: v.$font_accent;
        border-left: 5px solid v.$font_accent;
        margin-bottom: 2rem;
      }

      .reason_catch {
        font-size: 2rem;
        color: v.$font_accent;
        margin-bottom: 2rem;
      }

      .reason_content {
        line-height: 1.6;
        padding-left: 2rem;
      }
    }
  }

  .wrapper > .reason_flex:first-of-type {
    margin-top: 5rem; // ★ここだけ好きな値に！
  }

  .point {
    width: 80%;
    margin: 0 auto;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: v.$white;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);

    span {
      text-align: center;
      color: orange;
      font-size: 1.8rem;
      padding-left: 1rem;
      width: 15%;
    }

    p {
      width: 85%;
      padding-inline: 2rem;
      text-align: center;
    }
  }

  .commentary {
    font-size: 1.6rem;
    width: 40%;
    text-align: start;
    color: v.$font_accent;
    margin: 0 auto;
    padding: 2rem 0;
  }

  .reason_link {
    @include m.orange_button;
    display: block;
    margin: 15rem auto 0;
    font-size: 2.6rem;
    text-align: center;
    width: 50%;
  }
}

@include m.sp {
  #reason {
    .point {
      width: 90%;

      span {
        font-size: 2rem;
      }
    }
  }
}

@include m.sp_small {
  #reason {
    .reason_flex {
      padding-top: 3rem;
      margin: 10rem 0 5rem 0;
      align-items: center;

      img {
        display: none;
      }

      .reason_text {
        width: 100%;

        .reason_subtitle {
          padding: 0 0 0 2rem;
          align-items: center;
          line-height: 1.3;
          font-size: 2.5rem;
          color: v.$font_accent;
          border-left: 5px solid v.$font_accent;
          margin-bottom: 2rem;
        }

        .reason_catch {
          font-size: 1.9rem;
          color: v.$font_accent;
          margin-bottom: 2rem;
        }

        .reason_content {
          line-height: 1.8;
          padding-left: 2rem;
        }
      }
    }

    .wrapper > .reason_flex:first-of-type {
      margin-top: 5rem; // ★ここだけ好きな値に！
    }

    .point {
      width: 100%;
      border-radius: 0 0 0 0;

      span {
        font-size: 1.6rem;
      }

      p {
        padding-right: 1rem;
        padding-block: 0.7rem;
        font-size: 1.3rem;
      }
    }

    .commentary {
      font-size: 1.3rem;
      width: 40%;
      text-align: start;
      color: v.$font_accent;
      margin: 0 auto;
      padding: 2rem 0;
    }

    .reason_link {
      @include m.orange_button;
      display: block;
      width: 75%;
      margin: 15rem auto 0;
      text-align: center;
      font-size: 1.8rem;
    }

    .commentary {
      width: 70%;
    }
  }
}
