@use "mixins" as m;
@use "variables" as v;

#study_env {
  background-color: v.$bg_color;
  padding-top: 5rem;


  .subtitle {
    margin-top: 9rem;
    text-align: center;

    span {
      font-size: 4.8rem;
    }
  }

  .env_catch {
    display: flex;
    justify-content: space-between;
    height: 400px;
    width: 100%;
    color: v.$font_accent;

    .env_catch_contents {
      max-width: 230px;
      height: 250px;
      background-color: v.$white;
      text-align: center;
      border: 2px solid #ccc; // 枠線
      border-radius: 10% 10% 80% 80%;

      img {
        width: 60%;
      }
    }

    .left_right {
      align-self: flex-start;
    }

    .flex_center {
      align-self: flex-end;
    }
  }

  .no_wrapper {
    position: relative;
    width: 100%;
    background-color: v.$font_accent;
    padding: 0;
    text-align: center;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      right: 50%;
      transform: translateX(-50%);
      border-left: 50vw solid transparent;
      border-right: 50vw solid transparent;
      border-top: 80px solid v.$bg_color;
      width: 0;
      height: 0;
      z-index: 2;
    }

    .subtitle {
      color: v.$white;
      padding-top: 16rem;
      padding-bottom: 10rem;
      line-height: 2.5;
    }
  }

  ol.steps {
    counter-reset: step;
    padding: 15rem 0;

    .env_left,
    .env_right {
      .env_flex {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10rem;
        flex-direction: row;
        align-items: center;

        .env_text {
          flex: 1;
          width: 60%;
          position: relative;
          padding: 0 4rem;

          .env_heading {
            display: flex;
            align-items: center;
            font-size: 2.4rem;
            color: v.$font_accent;
            padding-bottom: 0.8rem;
            width: 100%;
            position: relative;

            &::before {
              content: "";
              width: 75%;
              height: 2px;
              position: absolute;
              top: 100%;
              left: 0;
              background-color: v.$font_accent;
            }

            .step_number {
              counter-increment: step;
              display: inline-flex;
              justify-content: center;
              align-items: center;
              width: 40px;
              height: 40px;
              border-radius: 50%;
              background: v.$font_accent;
              color: #fff;
              font-weight: bold;
              font-size: 1.8rem;
              margin-right: 1rem;

              &::before {
                content: counter(step);
              }
            }
          }
        }

        .env_st {
          display: block;
          margin: 1rem 0 2.5rem 0;
          color: #313131;
          font-size: 2rem;
          font-weight: bold;
        }

        p {
          line-height: 1.6;
        }

        img {
          width: 38%;
          height: auto;
          margin: 0 2rem;
          border-radius: 10px;
        }
      }
    }

    .env_left {
      .env_text {
        &::before {
          position: absolute;
          content: "";
          width: 2px;
          height: 100%;
          background-color: #313131;
          top: 0;
          left: 2rem;
        }

        &::after {
          position: absolute;
          content: "Feature";
          bottom: 3rem;
          left: -4rem;
          transform: rotate(-90deg);
          letter-spacing: 0.2rem;
          font-size: 2rem;
          color: #aaa1a1;
        }
      }
    }

    .env_right {
      .env_text {
        &::before {
          position: absolute;
          content: "";
          width: 2px;
          height: 100%;
          background-color: #313131;
          top: 0;
          right: 2rem;
        }

        &::after {
          position: absolute;
          content: "Feature";
          bottom: 3rem;
          right: -4rem;
          transform: rotate(-90deg);
          letter-spacing: 0.2rem;
          font-size: 2rem;
          color: #aaa1a1;
        }
      }
    }
  }
}

@include m.sp_small {

  #study_env {
    min-height: 0; // 実害なし

    // 詳細度キープ
    .env_catch {
      height: 250px;

      .env_catch_contents {
        max-width: 180px;
        height: 180px;
        border: 2px solid #ccc; // 枠線
        border-radius: 0;
        transition: none;
      }

      .flex_center {
        align-self: flex-start;
      }
    }

    /* ----下コンテンツ---- */
    ol.steps {


      .env_left,
      .env_right {
        .env_flex {

          flex-direction: column;
          margin-bottom: 10rem;

          .env_text {
            width: 100%;
            position: relative;
          }

          img {
            width: 90%;
            border-radius: 0px;
            aspect-ratio: 10 / 4;
            object-position: center top;
            border-radius: 25px;
            // object-fit: contain;
            object-fit: cover;
            margin-top: 3rem;
            margin-right: auto;
            // display: none;
          }
        }
      }


      .env_right .env_flex {
        flex-direction: column-reverse;
      }

      .env_right {
        .env_text {
          &::before {
            position: absolute;
            content: "";
            width: 2px;
            height: 100%;
            background-color: #313131;
            top: 0;
            left: 2rem;
          }

          &::after {
            position: absolute;
            content: "Feature";
            bottom: 3rem;
            left: -4rem;
            right: auto;
            transform: rotate(-90deg);
            letter-spacing: 0.2rem;
            font-size: 2rem;
            color: #aaa1a1;
          }
        }
      }
    }
  }
}