@use "mixins" as m;
@use "variables" as v;

#study_env {
  margin-top: 5rem;

  .env_question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98%;
    margin: 0 auto;
    padding: 4rem 0;
    position: relative;

    .cloud {
      position: relative;
      display: inline-block;
      background: #d9d9d9;
      padding: 2rem;
      border-radius: 30% 40% 60% 60% / 60% 50% 50% 50%; // 複雑に丸めてモコモコ感
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      width: 400px;
      height: auto;
      z-index: 2;

      // 吹き出し下のモコモコ（思考）
      &::after,
      &::before {
        content: "";
        position: absolute;
        background: #d9d9d9;
        border-radius: 50%;
      }
      &::after {
        width: 30px;
        height: 35px;
        top: 30%;
        right: -4rem;
      }
      &::before {
        width: 18px;
        height: 23px;
        top: 38%;
        right: -6.5rem;
      }
      p {
        display: block;
        text-align: center;
        color: v.$font_accent;
      }
    }
    img {
      display: block;
      width: 250px;
      height: auto;
      border-radius: 1rem;
      position: absolute;
      top: 2rem;
      left: 38%;
      z-index: 1;
    }
    .q_text {
      color: v.$font_accent;
      font-size: 2rem;
      font-weight: bold;
      padding-right: 2rem;
      z-index: 2;
    }
  }

  ol.steps {
    counter-reset: step;

    .env_left,
    .env_right {
      .env_flex {
        display: flex;
        justify-content: space-between;
        margin-bottom: 7rem;
        flex-direction: row;
        align-items: center;

        .env_text {
          flex: 1;
          width: 70%;
          position: relative;
          padding: 0 4rem;

          .env_heading {
            display: flex;
            align-items: center;
            font-size: 2.4rem;
            color: v.$font_accent;
            padding-bottom: 0.8rem;
            width: 100%;
            position: relative;

            &::before {
              content: "";
              width: 75%;
              height: 2px;
              position: absolute;
              top: 100%;
              left: 0;
              background-color: v.$font_accent;
            }
            .step_number {
              counter-increment: step;
              display: inline-flex;
              justify-content: center;
              align-items: center;
              width: 40px;
              height: 40px;
              border-radius: 50%;
              background: v.$font_accent;
              color: #fff;
              font-weight: bold;
              font-size: 1.8rem;
              margin-right: 1rem;

              &::before {
                content: counter(step);
              }
            }
          }
        }

        .env_st {
          display: block;
          margin: 0.5rem 0;
          color: #313131;
          font-size: 2rem;
          font-weight: bold;
        }

        p {
          line-height: 1.6;
        }
        img {
          width: 30%;
          height: auto;
          margin: 0 2rem;
          border-radius: 30px;
        }
      }
    }
    .env_left {
      .env_text {
        &::before {
          position: absolute;
          content: "";
          width: 2px;
          height: 100%;
          background-color: #313131;
          top: 0;
          left: 2rem;
        }
        &::after {
          position: absolute;
          content: "Feature";
          bottom: 3rem;
          left: -4rem;
          transform: rotate(-90deg);
          letter-spacing: 0.2rem;
          font-size: 2rem;
          color: #aaa1a1;
        }
      }
    }
    .env_right {
      .env_text {
        &::before {
          position: absolute;
          content: "";
          width: 2px;
          height: 100%;
          background-color: #313131;
          top: 0;
          right: 2rem;
        }
        &::after {
          position: absolute;
          content: "Feature";
          bottom: 3rem;
          right: -4rem;
          transform: rotate(-90deg);
          letter-spacing: 0.2rem;
          font-size: 2rem;
          color: #aaa1a1;
        }
      }
    }
  }
}
