@use "mixins" as m;
@use "variables" as v;

#header {
  width: 100vw;
  height: 100px;
  background-color: rgba(217, 217, 217, 0.5);
  position: fixed;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  z-index: 15;

  .logo img {
    width: 200px;
    height: auto;
    opacity: 1;
    padding-left: 1rem;
    padding-top: 0.5rem;
    line-height: 1;
  }

  #nav {
    width: 300px;
    height: 100vh;
    font-size: 1.6rem;
    background: linear-gradient(45deg, rgba(217, 217, 217, 1), #1c497f);
    position: fixed;
    top: 0;
    overflow-y: auto;
    transition: 0.5s;
    z-index: 20;
    right: -300px;
    opacity: 0;

    &.open {
      right: 0;
      opacity: 0.7;
    }

    .header_nav {
      padding-top: 8rem;
      text-align: start;
    }

    .header_nav li {
      padding: 1rem;
    }
    .header_nav a {
      color: #fff;
      font-weight: 500;
    }
  }
  .toggle_btn {
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: fixed;
    top: 3rem;
    right: 3rem;
    transition: 0.5s;
    z-index: 20;

    span {
      position: absolute;
      width: 40px;
      height: 3px;
      background-color: v.$sub_color;
      border-radius: 4px;
      display: block;
      left: 0;
      transition: 0.5s;

      &:nth-child(1) {
        top: 8px;
      }
      &:nth-child(2) {
        top: 18px;
      }
      &:nth-child(3) {
        bottom: 8px;
      }
    }
    &.open {
      span {
        background-color: #fff;

        &:nth-child(1) {
          transform: translateY(11px) rotate(-315deg);
        }
        &:nth-child(2) {
          display: none;
        }
        &:nth-child(3) {
          transform: translateY(-11px) rotate(315deg);
        }
      }
    }
  }
  #mask {
    display: none;
    transition: 0.5s;

    &.open {
      width: 100%;
      height: 100vh;
      background-color: #fff;
      cursor: pointer;
      display: block;
      opacity: 0.8;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 15;
    }
  }
}

main {
  .slick_slider {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  .overlay_img {
    width: 400px;
    height: auto;
    z-index: 10;
    height: auto;
    position: absolute;
    top: 30%;
    left: 5%;
  }

  .catchcopy {
    position: absolute;
    font-size: 4rem;
    font-weight: bold;
    color: #fff;
    z-index: 10;
    top: 50%;
    left: 30%;

    span {
      display: inline-block;
      margin-left: 8rem;
    }
  }

  .btn {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 1.5rem 0;
    border-radius: 30px;
    width: 500px;
    height: 130px;
    background: linear-gradient(45deg, #5580a4, #1c497f);
    z-index: 15;
    bottom: 5%;
    right: -8%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

    p {
      display: inline-block;
      width: 100%;
      font-size: 2.4rem;
      color: #fff;
      margin: 1rem 0 0.5rem 2rem;
    }

    .btn_push {
      width: 50%;
      font-weight: bold;
      font-size: 2.4rem;
      margin: 0 0 2rem 2rem;
      display: inline-block;
      background-color: #fff;
      color: v.$font_accent;
      border-radius: 30px;
      text-align: center;
      transition: all 0.5s;

      &:hover {
        background-color: #d57d33;
        color: #fff;
        transform: scale(1.05);
      }
    }
  }
}
