@use "mixins" as m;
@use "variables" as v;

#header {
  width: 100%;
  height: 70px;
  background-color: rgba(#f2f2f2, 0.7);
  position: fixed;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  z-index: 15;

  .logo img {
    width: 190px;
    height: auto;
    opacity: 1;
    padding-left: 3rem;
    padding-top: 0.5rem;
    line-height: 1;
  }

  #nav {
    width: 300px;
    height: 100vh;
    font-size: 1.8rem;
    background: linear-gradient(45deg,
        rgba(217, 217, 217, 1) 0%,
        #12345a 70%,
        #1c497f 100%);
    position: fixed;
    top: 0;
    overflow-y: auto;
    transition: 0.5s;
    z-index: 20;
    right: -310px;
    opacity: 0;

    &.open {
      right: 0;
      opacity: 0.7;
    }

    .header_nav {
      padding: 7rem 0 0 1rem;
      text-align: start;
    }

    .header_nav li {
      padding: 1rem;
      transition: transform 0.3s ease;
      transform-origin: left center;

      &:hover {
        transform: scale(1.1);
      }
    }

    .header_nav a {
      color: #fff;
      font-weight: normal;
    }
  }

  .toggle_btn {
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: fixed;
    top: 1.5rem;
    right: 4rem;
    transition: 0.5s;
    z-index: 20;

    span {
      position: absolute;
      width: 40px;
      height: 3px;
      background-color: v.$sub_color;
      border-radius: 4px;
      display: block;
      left: 0;
      transition: 0.5s;

      &:nth-child(1) {
        top: 8px;
      }

      &:nth-child(2) {
        top: 18px;
      }

      &:nth-child(3) {
        bottom: 8px;
      }
    }

    &.open {
      span {
        background-color: #fff;

        &:nth-child(1) {
          transform: translateY(11px) rotate(-315deg);
        }

        &:nth-child(2) {
          display: none;
        }

        &:nth-child(3) {
          transform: translateY(-11px) rotate(315deg);
        }
      }
    }
  }

  #mask {
    display: none;
    transition: 0.5s;

    &.open {
      width: 100%;
      height: 100vh;
      background-color: #fff;
      cursor: pointer;
      display: block;
      opacity: 0.8;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 15;
    }
  }
}

main {
  .slick_slider {
    position: relative;
    min-height: 100vh;
    width: 100%;
    /*overflow: hidden;*/

    img {
      width: 100%;
      height: 100vh;
      object-fit: cover;
      object-position: 65% center;
    }
  }

  .overlay_img {
    width: 240px;
    height: auto;
    z-index: 10;
    height: auto;
    position: absolute;
    top: 56%;
    left: 8%;
  }

  .catchcopy {
    z-index: 10;
    font-size: clamp(3.6rem, 9.6vw, 6rem);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    color: #fff;
    position: absolute;
    top: 20%;
    left: 13rem;
  }
}

.btn {
  background-image: url(../../assets/img/logo_btn/button.png);
  width: 480px;
  height: 130px;
  z-index: 15;
  position: fixed;
  bottom: 5rem;
  right: -12rem;
  background-repeat: no-repeat;
  background-size: contain; // または cover
  background-position: center;

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .btn_push {
    position: absolute;
    left: 8rem;
    top: 50%;
    width: 50%;
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 2;
    margin: 0 0 0 2rem;
    display: inline-block;
    background-color: #fff;
    color: v.$font_accent;
    border-radius: 16px;
    text-align: center;
    transition: all 0.5s;

    &:hover {
      background-color: #dfdfdf;
      // color: #fff;
      transform: scale(1.05);
    }
  }
}


/* -------------------------
レスポンシブ
---------------------------- */

//  タブレット 768〜1023px
@include m.sp {

  main {

    // 詳細度キープ
    .overlay_img {
      width: 230px;
      top: 70%;
      left: 8%;
    }
  }

  .btn {
    width: 350px;
    height: 100px;
    bottom: 10rem;
    right: -8rem;


    .btn_push {
      font-size: 1.6rem;
      line-height: 1.6;
      margin: 0 2rem 0 0;
    }
  }
}


// スマホ 〜767px
@include m.sp_small {

  #header {

    // 詳細度キープ
    .logo img {
      width: 170px;
      height: auto;
      opacity: 1;
      padding-left: 3rem;
    }
  }


  main {

    // 詳細度キープ
    .overlay_img {
      width: 180px;
      height: auto;
      top: 53%;
      left: 8%;
    }

    .catchcopy {
      top: 20%;
      left: 4rem;
    }
  }

  .btn {
    width: 280px;
    height: 90px;
    bottom: 5rem;
    right: -6rem;

    .btn_push {
      left: 6rem;
      top: 50%;
      margin: 0 4rem 0 0;
      font-size: 1.1rem;
    }
  }
}