@use "mixins" as m;
@use "variables" as v;

#voice {
  background-color: v.$bg_color;
  width: 100%;
  padding: 10rem 0 6rem;
  overflow-x: hidden;

  .sec_title_b {
    margin-top: 0;
  }

  .voice_slider {
    display: flex;

    .slide {
      flex: 0 0 30%;
      margin-right: 20px;
      box-sizing: border-box;
      width: 330px;
      background-color: v.$white;
      padding: 6rem 6rem;
      border-radius: 1rem;
      text-align: start;
      margin-bottom: 10rem;

      &:last-child {
        margin-right: 20px;
      }

      img {
        border-radius: 50%;
        object-fit: cover;
        width: 130px;
        height: 130px;
        margin: 0 auto;
      }

      h4 {
        font-weight: bold;
        color: v.$font_accent;
        font-size: 2.4rem;
        padding-top: 2rem;
        align-items: center;
      }

      .voice_age {
        padding-inline: 5px;
      }

      .voice_age,
      .voice_text_main {
        font-size: 1.5rem;
        padding-block: 1.5rem;
      }

      .graduate_status {
        display: inline-block;
        border-radius: 8px;
        padding-inline: 10px;
        background-color: #fcf2e8;
        color: v.$font_accent;
        font-weight: bold;
        font-size: 1.5rem;
      }

      a {
        @include m.orange_button;
        width: 100%;
        text-align: center;
        font-size: 1.4rem;
        margin: 0 auto;
        display: block;
      }
    }

    .slick-dots li button {
      width: 15px;
      /* 幅 */
      height: 15px;
      /* 高さ */
      border-radius: 50%;
      /* 丸くする */
      background-color: #ccc;
      /* 通常色 */

      &::before {
        content: "";
      }
    }

    /* 選択中のドット */
    .slick-dots li.slick-active button {
      background-color: #023f80;
      /* 選択中の色 */
      width: 15px;
      height: 15px;
    }
  }

  .graduate_work {
    display: block;
    width: 30%;
    margin: 10rem auto;
    padding: 1rem;
    background: linear-gradient(to right, v.$font_accent, #6891b0);
    color: v.$white;
    border-radius: 50px;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    transition: 0.5s;

    &:hover {
      scale: 1.2;
    }
  }
}

@include m.sp_small {
  #voice {
    .graduate_work {
      width: 60%;
    }
  }
}