@use "mixins" as m;
@use "variables" as v;

/* --------------------------
voice
----------------------------*/
.voice {

    .voice_intro {
        position: relative;
        height: 650px;
        width: 100%;
        background-image: url('../img/subpage_img/sub_bg/bg_hackathon_voice.jpg');
        background-position: center top;
        background-size: cover;
        background-repeat: no-repeat;

        .voice_title,
        .voice_text {
            max-width: 1200px;
            padding: 0 2%;
            margin: 0 auto;
            position: absolute;
            color: v.$font_accent;
            text-shadow: 0px 4px 4px #FFFFFF;
        }

        .voice_title {
            top: 40%; // 画像内での位置を %で調整
            font-size: clamp(3.3rem, 4vw, 4.8rem);
            font-weight: bold;
        }

        .voice_text {
            top: 60%; // 画像内での位置
            font-size: clamp(1.9rem, 2vw, 2.3rem);
            font-weight: bold;
            line-height: 1.8em;
            padding-left: 5rem;
        }
    }

    .blue_line {
        @include m.blue_line;
    }

    .profile_card {

        .blue_box {
            background-color: #607CA8;

            .profile_inner {
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 100px;
                padding-block: 5rem;
            }

            .profile_name {
                font-size: 6rem;
                color: v.$white;
                font-weight: bold;
                text-align: center;
                padding-bottom: 1rem;
                border-bottom: 3px solid white;

                span {
                    font-size: 3.2rem;
                }
            }

            .profile_term {
                font-size: 3.5rem;
                font-weight: bold;
                color: v.$white;
            }

            img {
                width: 260px;
                height: 260px;
                object-fit: cover;
                border-radius: 50%;
                border: 1px solid #fff;
                margin: 0;
            }
        }

        .profile-content {
            background-color: v.$bg_color;
            padding-block: 70px;

            .profile_list {
                height: 100%;
                display: flex;
                flex-wrap: wrap;
                font-size: 2rem;

                dt,
                dd {
                    display: block;
                    margin-bottom: 16px;
                    padding-block: 15px;
                    font-weight: bold;
                }

                dt {
                    width: 30%;
                    text-align: center;
                    background-color: v.$sub_back_color;
                    color: v.$white;
                }

                dd {
                    width: 70%;
                    background-color: v.$white;
                    padding-inline: 2rem
                }
            }
        }

    }
}

.article {

    .article_title {
        @include m.article_title;
    }

    .article_question {
        @include m.article_question;
    }

    .article_answer {
        @include m.article_answer;
    }

    .before {
        padding-top: 100px;
    }

    .accent_img_right,
    .accent_img_left {
        width: 230px;
        display: block;
        // padding-bottom: 30px;
    }

    .accent_img_right {
        margin-left: auto;
    }

    .accent_img_left {
        margin-right: auto;
    }

    .message {
        display: flex;
        justify-content: center;
        align-items: center;
        align-items: stretch;
        padding-bottom: 180px;

        .message_title {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 25%;
            text-align: center;
            font-size: 2rem;
            font-weight: 500;
            color: v.$white;
            background-color: v.$sub_back_color;
        }

        .message_answer {
            flex: 1;
            margin: 0 auto;
            padding: 3rem;
            text-align: left;
            font-size: 2rem;
            color: v.$font_accent;
            border: 1px solid gray;
        }


    }

}

.other_voice {
    .other_voice-title {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 520px;
        padding-block: 1rem;
        margin: 0 auto;
        background: linear-gradient(to right,
                v.$font_accent 30%,
                v.$sub_color 70%,
                v.$sub_color_b 100%);
        color: #fff;
        font-size: 1.8rem;
        border-radius: 35px;
        text-align: center;
        margin-bottom: 100px;

        &::after {
            content: "";
            display: inline-block;
            width: 0;
            height: 0;
            border-top: 13px solid white;
            border-right: 10px solid transparent;
            border-left: 10px solid transparent;
            margin-left: 8px;
            margin-top: 5px;
        }
    }

    .voice_slider {
        margin-top: 50px;
        padding-bottom: 40px;
        ;
    }

    .slide_sub {
        width: 330px;
        box-sizing: border-box;
        background-color: v.$white;
        padding: 6rem 6rem;
        margin-left: 20px;
        border-radius: 1rem;
        border: 1px solid rgb(190, 190, 190);

        img {
            display: block;
            margin: 0 auto;
            border-radius: 50%;
            object-fit: cover;
            width: 130px;
            height: 130px;
            margin-bottom: 3rem;
        }

        h4 {
            font-size: 2.4rem;
            margin-bottom: 1rem;
            color: v.$font_accent;
        }

        p {
            font-size: 1.5rem;
            margin-bottom: 1.5rem;
        }

        span {
            display: inline-block;
            margin-bottom: 2rem;
            font-size: 1.6rem;
            padding: 5px 5px;
            background-color: #FCF2E8;
            border-radius: 5px;
            color: v.$font_accent;
            font-weight: bold;
        }

        a {
            @include m.orange_button;
            display: block;
            margin: 0 auto;
        }
    }
}

/* ----voiceレスポンシブ---- */

// @include m.sp {
//     /* 930px */
// }


@include m.sp_small {

    /* 787px */
    .voice {

        // 詳細度キープ
        .voice_intro {

            // 詳細度キープ

            .voice_title {
                top: 40%; // 画像内での位置を %で調整
            }

            .voice_text {
                padding-left: 2rem;
            }
        }


        .profile_card {

            // 詳細度キープ
            .blue_box {

                // 詳細度キープ
                .profile_inner {
                    flex-direction: column;
                    gap: 20px;

                    .profile_name {
                        font-size: 4rem;

                        span {
                            font-size: 3rem;
                        }
                    }

                    .profile_term {
                        font-size: 2.5rem;
                    }

                    img {
                        width: 200px;
                        height: 200px;
                    }
                }
            }

            .profile-content {
                background-color: v.$bg_color;
                padding-block: 70px;

                .profile_list {
                    height: 100%;
                    flex-direction: column;

                    dt,
                    dd {
                        display: block;
                        margin-bottom: 0;
                        text-align: center;
                    }

                    dt {
                        width: 100%;
                    }

                    dd {
                        width: 100%;
                        margin-bottom: 3rem;

                        &:last-of-type {
                            margin-bottom: 0;
                        }
                    }
                }
            }

        }
    }

    .article {

        .article_title {
            font-size: 2rem
        }

        .article_question {
            width: 90%;
            font-size: 2rem
        }

        .article_answer {
            width: 90%;
        }

        .accent_img_right {
            margin: 0 auto;
        }

        .accent_img_left {
            margin: 0 auto;
        }

        .message {
            flex-direction: column;
            padding-bottom: 100px;

            .message_title {
                width: 100%;
                text-align: center;
                padding-block: 1rem;
                font-size: 2rem;
            }
        }
    }

    .other_voice {
        .other_voice-title {
            width: 300px;
            margin-bottom: 50px;
        }
    }
}