@use "mixins" as m;
@use "variables" as v;

/* --------------------------
voice
----------------------------*/
.voice {

    .voice_intro {
        position: relative;

        height: 650px;
        width: 100%;
        background-image: url('../img/subpage_img/sub_bg/bg_hackathon_voice.jpg');
        background-position: center top;
        background-size: cover;
        background-repeat: no-repeat;

        .voice_title,
        .voice_text {
            max-width: 1200px;
            padding: 0 2%;
            margin: 0 auto;
            position: absolute;
            left: 2rem;
            right: 2rem;
            color: v.$font_accent;
            text-shadow: 0px 4px 4px #FFFFFF;
        }

        .voice_title {
            top: 30%; // 画像内での位置を %で調整
            font-size: clamp(1.8rem, 4vw, 4.8rem);
            font-weight: bold;
        }

        .voice_text {
            top: 60%; // 画像内での位置
            font-size: clamp(1rem, 2vw, 2rem);
            font-weight: bold;
            line-height: 1.8em;
            padding-left: 5rem;
        }
    }

    .profile_card {
        .blue_box {
            position: relative;
            height: 200px;
            background-color: #607CA8;

            .profile_name {
                position: absolute;
                right: 30%;
                bottom: 0;
                font-size: 6rem;
                color: v.$white;
                font-weight: bold;

                span {
                    font-size: 3.2rem;
                }
            }

            .profile_term {
                position: absolute;
                right: 29%;
                bottom: -30%;
                font-size: 4.0rem;
                font-weight: bold;
                color: v.$font_main;
            }

            img {
                position: absolute;
                left: 30%;
                bottom: 0;
                transform: translate(-50%, 50%);
                width: 200px;
                height: 200px;
                object-fit: cover;
                border-radius: 50%;
                border: 1px solid #fff;
            }
        }

        .profile-content {
            height: 520px;
            background-color: v.$bg_color;

            .profile_list {
                display: flex;
                flex-wrap: wrap;
                font-size: 2rem;

                dt,
                dd {
                    display: block;
                    margin-bottom: 16px;
                    padding-block: 15px;

                    &:first-of-type {
                        margin-top: 190px;
                    }
                }

                dt {
                    width: 30%;
                    font-weight: bold;
                    text-align: center;
                    background-color: v.$sub_back_color;
                    color: v.$white;
                }

                dd {
                    width: 70%;
                    background-color: v.$white;
                    padding-inline: 2rem
                }
            }
        }

    }
}

.article {


    .article_title {
        @include m.article_title;
    }

    .article_question {
        @include m.article_question;
    }

    .article_answer {
        @include m.article_answer;
    }

    .before {
        padding-top: 100px;
    }

    .message {
        display: flex;
        justify-content: center;
        align-items: center;
        align-items: stretch;
        padding-bottom: 90px;

        .message_title {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 25%;
            text-align: center;
            font-size: 1.6rem;
            font-weight: 500;
            color: v.$white;
            background-color: v.$sub_back_color;
        }

        .message_answer {
            flex: 1;
            margin: 0 auto;
            padding: 3rem;
            text-align: left;
            font-size: 1.6rem;
            color: v.$font_accent;
            border: 1px solid gray;
        }


    }

}

.other_person {
    .other_person-title {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 520px;
        padding-block: 1rem;
        margin: 0 auto;
        background: linear-gradient(to right,
                v.$font_accent 30%,
                v.$sub_color 70%,
                v.$sub_color_b 100%);
        color: #fff;
        font-size: 1.8rem;
        border-radius: 35px;
        text-align: center;
        margin-bottom: 100px;

        &::after {
            content: "";
            display: inline-block;
            width: 0;
            height: 0;
            border-top: 13px solid white;
            border-right: 10px solid transparent;
            border-left: 10px solid transparent;
            margin-left: 8px;
            margin-top: 5px;
        }
    }

    .other_person-slick {
        background-color: v.$bg_color;


        .other_person-card {
            width: 340px;
            height: 600px;
            border: 1px solid gray;
            border-radius: 30px;

            a {
                @include m.orange_button;
            }
        }
    }

}