@charset "utf-8";
@use "mixins" as m;
@use "variables" as v;
@use "main";
@use "top";
@use "about";
@use "study_env";
@use "reason";
@use "metalife";
@use "voice_main";
@use "instagram";
@use "hackathon";
@use "q-and-a";
@use "price.main";
@use "voice";
@use "animation";
@use "footer";