html,
body {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-family: Noto Sans JP;
  background-color: #f6f4f2;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: #505050;
}

li {
  list-style: none;
}

p {
  font-size: 1.6rem;
}

.sec_title {
  width: 400px;
  height: 100px;
  background: linear-gradient(to right, #023f80 0%, #4b769d 60%, #f6f4f2 100%);
  color: #fff;
  font-size: 2.4rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 2rem;
}

.wrapper {
  padding: 0 5rem;
  max-width: 100%;
  align-items: center;
  margin: 0 auto;
}

.subtitle {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.7;
  padding: 5rem 0;
  color: #023f80;
}

#header {
  width: 100vw;
  height: 100px;
  background-color: rgba(242, 242, 242, 0.7);
  position: fixed;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  z-index: 15;
}
#header .logo img {
  width: 200px;
  height: auto;
  opacity: 1;
  padding-left: 1rem;
  padding-top: 0.5rem;
  line-height: 1;
}
#header #nav {
  width: 300px;
  height: 100vh;
  font-size: 2rem;
  background: linear-gradient(45deg, rgb(217, 217, 217), #1c497f);
  position: fixed;
  top: 0;
  overflow-y: auto;
  transition: 0.5s;
  z-index: 20;
  right: -300px;
  opacity: 0;
}
#header #nav.open {
  right: 0;
  opacity: 0.7;
}
#header #nav .header_nav {
  padding: 8rem 0 0 1rem;
  text-align: start;
}
#header #nav .header_nav li {
  padding: 1rem;
}
#header #nav .header_nav a {
  color: #fff;
  font-weight: normal;
}
#header .toggle_btn {
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: fixed;
  top: 3rem;
  right: 3rem;
  transition: 0.5s;
  z-index: 20;
}
#header .toggle_btn span {
  position: absolute;
  width: 40px;
  height: 3px;
  background-color: #4b769d;
  border-radius: 4px;
  display: block;
  left: 0;
  transition: 0.5s;
}
#header .toggle_btn span:nth-child(1) {
  top: 8px;
}
#header .toggle_btn span:nth-child(2) {
  top: 18px;
}
#header .toggle_btn span:nth-child(3) {
  bottom: 8px;
}
#header .toggle_btn.open span {
  background-color: #fff;
}
#header .toggle_btn.open span:nth-child(1) {
  transform: translateY(11px) rotate(-315deg);
}
#header .toggle_btn.open span:nth-child(2) {
  display: none;
}
#header .toggle_btn.open span:nth-child(3) {
  transform: translateY(-11px) rotate(315deg);
}
#header #mask {
  display: none;
  transition: 0.5s;
}
#header #mask.open {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  cursor: pointer;
  display: block;
  opacity: 0.8;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
}

main .slick_slider {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
main .slick_slider img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
main .overlay_img {
  width: 300px;
  height: auto;
  z-index: 10;
  height: auto;
  position: absolute;
  top: 50%;
  left: 5%;
}
main .catchcopy {
  z-index: 10;
  font-size: 6rem;
  color: #fff;
  position: absolute;
  top: 20%;
  left: 13rem;
}

.btn {
  background-image: url(../../assets/img/logo_btn/button.png);
  width: 500px;
  height: 140px;
  z-index: 15;
  position: fixed;
  bottom: 5rem;
  right: -8rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.btn .btn_push {
  position: absolute;
  left: 8rem;
  top: 50%;
  width: 50%;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 2;
  margin: 0 0 2rem 2rem;
  display: inline-block;
  background-color: #fff;
  color: #023f80;
  border-radius: 16px;
  text-align: center;
  transition: all 0.5s;
}
.btn .btn_push:hover {
  background-color: #d57d33;
  color: #fff;
  transform: scale(1.05);
}

#about {
  background-color: #f6f4f2;
  margin: 0;
  position: relative;
  overflow: hidden;
  padding-top: 15rem;
  width: 100%;
}
#about .about_left,
#about .about_right {
  display: flex;
  align-items: center;
  padding: 2rem;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
  margin-bottom: 4rem;
  overflow: hidden;
}
#about .about_left img,
#about .about_right img {
  width: 300px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
#about .about_left .about_text,
#about .about_right .about_text {
  flex: 1;
  padding: 0 2rem;
  color: #505050;
  line-height: 1.5;
}
#about .about_left .about_text h3,
#about .about_right .about_text h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
#about .about_left .about_text p,
#about .about_right .about_text p {
  margin-left: 1rem;
}
#about .about_left {
  width: 80%;
  margin-left: 0;
  margin-right: auto;
  justify-content: flex-start;
}
#about .about_left img {
  border-radius: 25px 0 0 25px;
  margin: -2rem 0 -2rem -2rem;
}
#about .about_right {
  width: 70%;
  margin-left: auto;
  margin-right: 0;
  justify-content: flex-end;
}
#about .about_right img {
  border-radius: 0 25px 25px 0;
  margin: -2rem -2rem -2rem 0;
}
#about .venn {
  width: 350px;
  position: absolute;
  top: 15rem;
  right: 8rem;
}/*# sourceMappingURL=style.css.map */