html,
body {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-family: Noto Sans JP;
}
@media (max-width: 767px) {
  html,
  body {
    font-size: 53%;
  }
}

main {
  background-image: url(../img/bg/bg_long.webp);
  background-repeat: repeat-y;
  background-size: 100% 100%;
  background-position: center 100vh;
  z-index: -1;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: #505050;
}

li {
  list-style: none;
}

p {
  font-size: 1.6rem;
}

.sec_title {
  width: 400px;
  height: 100px;
  background: linear-gradient(to right, #023f80 0%, #4b769d 60%, #f6f4f2 100%);
  color: #fff;
  font-size: 2.4rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 2rem;
}

.wrapper {
  padding: 0 5rem;
  max-width: 1200px;
  align-items: center;
  margin: 0 auto;
}

.subtitle {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.7;
  padding: 5rem 0;
  color: #023f80;
  position: relative;
  z-index: 2;
}

#header {
  width: 100vw;
  height: 80px;
  background-color: rgba(242, 242, 242, 0.7);
  position: fixed;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  z-index: 15;
}
#header .logo img {
  width: 200px;
  height: auto;
  opacity: 1;
  padding-left: 3rem;
  padding-top: 0.5rem;
  line-height: 1;
}
#header #nav {
  width: 300px;
  height: 100vh;
  font-size: 2rem;
  background: linear-gradient(45deg, rgb(217, 217, 217) 0%, #12345a 70%, #1c497f 100%);
  position: fixed;
  top: 0;
  overflow-y: auto;
  transition: 0.5s;
  z-index: 20;
  right: -300px;
  opacity: 0;
}
#header #nav.open {
  right: 0;
  opacity: 0.7;
}
#header #nav .header_nav {
  padding: 8rem 0 0 1rem;
  text-align: start;
}
#header #nav .header_nav li {
  padding: 1rem;
  transition: transform 0.3s ease;
  transform-origin: left center;
}
#header #nav .header_nav li:hover {
  transform: scale(1.1);
}
#header #nav .header_nav a {
  color: #fff;
  font-weight: normal;
}
#header .toggle_btn {
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: fixed;
  top: 1.5rem;
  right: 4rem;
  transition: 0.5s;
  z-index: 20;
}
#header .toggle_btn span {
  position: absolute;
  width: 40px;
  height: 3px;
  background-color: #4b769d;
  border-radius: 4px;
  display: block;
  left: 0;
  transition: 0.5s;
}
#header .toggle_btn span:nth-child(1) {
  top: 8px;
}
#header .toggle_btn span:nth-child(2) {
  top: 18px;
}
#header .toggle_btn span:nth-child(3) {
  bottom: 8px;
}
#header .toggle_btn.open span {
  background-color: #fff;
}
#header .toggle_btn.open span:nth-child(1) {
  transform: translateY(11px) rotate(-315deg);
}
#header .toggle_btn.open span:nth-child(2) {
  display: none;
}
#header .toggle_btn.open span:nth-child(3) {
  transform: translateY(-11px) rotate(315deg);
}
#header #mask {
  display: none;
  transition: 0.5s;
}
#header #mask.open {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  cursor: pointer;
  display: block;
  opacity: 0.8;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
}

main .slick_slider {
  position: relative;
  min-height: 100vh;
  width: 100%;
  /*overflow: hidden;*/
}
main .slick_slider img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
main .overlay_img {
  width: 300px;
  height: auto;
  z-index: 10;
  height: auto;
  position: absolute;
  top: 50%;
  left: 5%;
}
main .catchcopy {
  z-index: 10;
  font-size: 6rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  color: #fff;
  position: absolute;
  top: 20%;
  left: 13rem;
}

.btn {
  background-image: url(../../assets/img/logo_btn/button.png);
  width: 500px;
  height: 140px;
  z-index: 15;
  position: fixed;
  bottom: 5rem;
  right: -8rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.btn .btn_push {
  position: absolute;
  left: 8rem;
  top: 50%;
  width: 50%;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 2;
  margin: 0 0 2rem 2rem;
  display: inline-block;
  background-color: #fff;
  color: #023f80;
  border-radius: 16px;
  text-align: center;
  transition: all 0.5s;
}
.btn .btn_push:hover {
  background-color: #d57d33;
  color: #fff;
  transform: scale(1.05);
}

#about {
  margin: 0;
  position: relative;
  padding-top: 20rem;
  width: 100%;
}
#about .about_left,
#about .about_right {
  width: 88%;
  display: flex;
  align-items: center;
  padding: 2rem;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
  margin-bottom: 5rem;
  overflow: hidden;
  position: relative;
  z-index: 2;
}
#about .about_left img,
#about .about_right img {
  width: 300px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
#about .about_left .about_text,
#about .about_right .about_text {
  flex: 1;
  padding: 0 2rem;
  color: #505050;
  line-height: 1.5;
}
#about .about_left .about_text h4,
#about .about_right .about_text h4 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
#about .about_left .about_text p,
#about .about_right .about_text p {
  margin-left: 1rem;
}
#about .about_left {
  margin-left: 0;
  margin-right: auto;
  justify-content: flex-start;
}
#about .about_left img {
  border-radius: 25px 0 0 25px;
  margin: -2rem 0 -2rem -2rem;
}
#about .about_left .about_text {
  margin-left: 2rem;
}
#about .about_right {
  margin-left: auto;
  margin-right: 0;
  justify-content: flex-end;
}
#about .about_right img {
  border-radius: 0 25px 25px 0;
  margin: -2rem -2rem -2rem 0;
}

#study_env {
  margin-top: 5rem;
}
#study_env .env_question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98%;
  margin: 0 auto;
  padding: 4rem 0;
  position: relative;
}
#study_env .env_question .cloud {
  position: relative;
  display: inline-block;
  background: #d9d9d9;
  padding: 2rem;
  border-radius: 30% 40% 30% 60%/60% 50% 50% 40%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 400px;
  height: auto;
  z-index: 2;
}
#study_env .env_question .cloud::after, #study_env .env_question .cloud::before {
  content: "";
  position: absolute;
  background: #d9d9d9;
  border-radius: 50%;
}
#study_env .env_question .cloud::after {
  width: 30px;
  height: 35px;
  top: 30%;
  right: -4rem;
}
#study_env .env_question .cloud::before {
  width: 18px;
  height: 23px;
  top: 38%;
  right: -6.5rem;
}
#study_env .env_question .cloud p {
  display: block;
  text-align: center;
  color: #023f80;
}
#study_env .env_question img {
  display: block;
  width: 250px;
  height: auto;
  border-radius: 1rem;
  position: absolute;
  top: 2rem;
  left: 38%;
  z-index: 1;
}
#study_env .env_question .q_text {
  color: #023f80;
  font-size: 2rem;
  font-weight: bold;
  padding-right: 2rem;
  z-index: 2;
}
#study_env ol.steps {
  counter-reset: step;
}
#study_env ol.steps .env_left .env_flex,
#study_env ol.steps .env_right .env_flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7rem;
  flex-direction: row;
  align-items: center;
}
#study_env ol.steps .env_left .env_flex .env_text,
#study_env ol.steps .env_right .env_flex .env_text {
  flex: 1;
  width: 70%;
  position: relative;
  padding: 0 4rem;
}
#study_env ol.steps .env_left .env_flex .env_text .env_heading,
#study_env ol.steps .env_right .env_flex .env_text .env_heading {
  display: flex;
  align-items: center;
  font-size: 2.4rem;
  color: #023f80;
  padding-bottom: 0.8rem;
  width: 100%;
  position: relative;
}
#study_env ol.steps .env_left .env_flex .env_text .env_heading::before,
#study_env ol.steps .env_right .env_flex .env_text .env_heading::before {
  content: "";
  width: 75%;
  height: 2px;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #023f80;
}
#study_env ol.steps .env_left .env_flex .env_text .env_heading .step_number,
#study_env ol.steps .env_right .env_flex .env_text .env_heading .step_number {
  counter-increment: step;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #023f80;
  color: #fff;
  font-weight: bold;
  font-size: 1.8rem;
  margin-right: 1rem;
}
#study_env ol.steps .env_left .env_flex .env_text .env_heading .step_number::before,
#study_env ol.steps .env_right .env_flex .env_text .env_heading .step_number::before {
  content: counter(step);
}
#study_env ol.steps .env_left .env_flex .env_st,
#study_env ol.steps .env_right .env_flex .env_st {
  display: block;
  margin: 0.5rem 0;
  color: #313131;
  font-size: 2rem;
  font-weight: bold;
}
#study_env ol.steps .env_left .env_flex p,
#study_env ol.steps .env_right .env_flex p {
  line-height: 1.6;
}
#study_env ol.steps .env_left .env_flex img,
#study_env ol.steps .env_right .env_flex img {
  width: 30%;
  height: auto;
  margin: 0 2rem;
  border-radius: 12px;
}
#study_env ol.steps .env_left .env_text::before {
  position: absolute;
  content: "";
  width: 2px;
  height: 100%;
  background-color: #313131;
  top: 0;
  left: 2rem;
}
#study_env ol.steps .env_left .env_text::after {
  position: absolute;
  content: "Feature";
  bottom: 3rem;
  left: -4rem;
  transform: rotate(-90deg);
  letter-spacing: 0.2rem;
  font-size: 2rem;
  color: #aaa1a1;
}
#study_env ol.steps .env_right .env_text::before {
  position: absolute;
  content: "";
  width: 2px;
  height: 100%;
  background-color: #313131;
  top: 0;
  right: 2rem;
}
#study_env ol.steps .env_right .env_text::after {
  position: absolute;
  content: "Feature";
  bottom: 3rem;
  right: -4rem;
  transform: rotate(-90deg);
  letter-spacing: 0.2rem;
  font-size: 2rem;
  color: #aaa1a1;
}